<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head></head>
<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Bookclub</a>
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav w-100">
                        <li class="nav-item">
                            <a class="nav-link" href="/about" th:href="@{/about}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact" th:href="@{/contact}">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="/wishlist" th:href="@{/wishlist}" class="nav-link">Wishlist</a>
                        </li>
                    </ul>

                    <div class="nav navbar-nav ml-auto w-100 justify-content-center">
                        <div sec:authorize="isAuthenticated()">
                            Logged in as <strong sec:authentication="name"></strong>
                        </div>
                    </div>

                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                        <li class="nav-item">
                            <a href="/swagger-ui.html" class="nav-link" target="_blank">OpenAPI Specification</a>
                        </li>

                        <li class="nav-item float-end">
                            <a href="/logout" th:href="@{/logout}" class="nav-link float-end">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>